body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5vh 2vw;
}

.slideshow{
    height: 50vw;
    z-index: -1;
    
}

.slide{
    height: 60%;
    display: flex;
}

.slide img{
    height: 100%;
    margin: auto;
}

.arrows{
    display: flex;
    margin: auto; 
}

.avanti img, .indietro img{
    height: 5vh;
    

}