body {
    background-color: white;
}

.slideshow{
    width: 100%;
    z-index: -1;
}

.arrows{
    display: flex;
    align-content: space-between;  
}

.avanti img, .indietro img{
    height: 5vh;

}